@use '../../../abstracts/variables' as *;

/**** T02: Default blogpost and default page template styling ****/

.page-title {
    padding-block: 0 0.75em;
}

.single article > *:not(.post__hr),
.page-template-default article > *:not(.post__hr) {
    margin-block-start: 1em;
}

.post__hr {
    margin: 2.5em 0;
    opacity: 0.3;
    height: 1px;
    border: 0;
    background: $darkmode_default_font_color;

    &.post__hr--smaller-margin {
        margin: 1em 0;
    }

    &.post__hr--dashed {
        background: transparent;
        background-image: linear-gradient(to right, $darkmode_default_font_color 33%, rgba(255,255,255,0.0001) 0%);
        background-position: bottom;
        background-size: 6px 1px;
        background-repeat: repeat-x;
    }
}

.single article details,
.page-template-default article details {
    border: 1px solid $default_code_border;
    background: $post_details_acc_bg;
    padding: 10px 15px 10px 15px;
}

.single article details .details-content,
.page-template-default article details .details-content {
    padding-block: 0.5em 0;
}

.single article ul ul,
.page-template-default article ul ul {
    margin-block-end: 1.25em;
}

@media (max-width: $mobiletop_breakpoint) {
    /* .single article details .details-content ol {
        padding-left: 25px;
    } */
    .single article ul,
    .single article ul ul,
    .post__txt-ul--mobile-default {
        padding-left: 25px;
    }
}

.post__txt--spaced-ol li:not(:last-of-type),
.post__txt--spaced-ul li:not(:last-of-type) {
    margin-block-end: .45em;
}

.post__txt--spaced-picture {
    margin-top: 0.3em;
}

.post-txt--contained-block {
    display: block;
    width: fit-content;
}

.post-txt--block-margin-btm {
    margin-bottom: .3em;
}

@media (max-width: $mobiletop_breakpoint) {
    .post__txt--spaced-ol {
        padding-left: 15px;
    }
}

/* Headers with ornaments */

.starred-header,
.lbulbed-header,
.danger-header {
    position: relative;
    display: inline-flex;
    align-items: center;

    @media (max-width: $mobiletop_breakpoint) {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: $mobiletop_breakpoint) {
    .danger-header abbr {
        margin: 0 !important;
    }
}

.starred-header:before,
.lbulbed-header:before,
.danger-header:before {
    content: '';
    margin-right: 0.4em;
    display: inline-block;
    background-size: contain;
}

.starred-header:before {
    width: 1.3em; height: 1.2em;
    background: url(../../assets/svg/gold-star.svg) no-repeat center; 

    @media (max-width: $mobiletop_breakpoint) {
        display: block;
    }
}

.lbulbed-header:before {
    width: 1.3em; height: 1.5em;
    background: url(../../assets/svg/light-bulb.svg) no-repeat center;
}

.danger-header:before {
    width: 1.1em; height: 1.1em;
    background: url(../../assets/svg/beware.svg) no-repeat center;
}

.yellow-header-checkmark {
    position: relative;

    @media (max-width: $mobiletop_breakpoint) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.yellow-header-checkmark:before {
	content: '';
	width: 23px; height: 23px;
	background: url(../../assets/svg/checkmark01.svg) no-repeat center; background-size: contain;
	display: inline-flex;
	position: relative;
	margin-right: 0.25em;
    vertical-align: middle;

    @media (max-width: $mobiletop_breakpoint) {
        width: 1.3em; height: 1.3em;
    }
}

/* Plus - minus list */

.plus-list,
.minus-list {
    list-style: none;
}

.plus-list li,
.minus-list li {
    position: relative;
}

.plus-list li:before,
.minus-list li:before {
    content: '';
    width: 0.6em; height: 0.6em;
    display: inline-block;
    position: absolute;
    left: -1.2em; top: 0.5em;
}

.plus-list li:before {
    background: url(../../assets/svg/plus.svg) no-repeat center; background-size: contain;
}

.minus-list li:before {
    background: url(../../assets/svg/minus.svg) no-repeat center; background-size: contain;
}

/* Checkmark list */

.single article ul.checkmark-list,
.page-template-default article ul.checkmark-list {
	list-style: none;

    @media (max-width: $mobiletop_breakpoint) {
        padding-left: 0;
    }
}

.single article ul.checkmark-list li,
.page-template-default article ul.checkmark-list li {
	margin-block-end: 0.75em;
	position: relative;
}

.single article ul.checkmark-list li p,
.page-template-default article ul.checkmark-list li p {
  margin-block-end: 0.75em;
}

.single article ul.checkmark-list li:before,
.page-template-default article ul.checkmark-list li:before {
	content: '';
	width: 1.25em; height: 1.188em;
	background: url(../../assets/svg/checkmark01.svg) no-repeat center; background-size: contain;
	display: inline-flex;
	position: absolute;
	left: -1.875em; top: 0.313em;

    @media (max-width: $mobiletop_breakpoint) {
        position: relative;
        left: initial; top: initial;
        display: block;
        margin-bottom: .3em;
    }
}

/* Grid helpers */

.single article .row p:not(:last-of-type),.page-template-default article .row p:not(:last-of-type){margin-block-end:1em}
.col-one-third{width:32%}
.col-two-third{width:65%}
.row-helper-col{width:calc(100% - 70px)}