@use '../abstracts/variables' as *;

/***** Light mode *****/

.lightmode {

    .site {
        color: $lightmode_default_font_color;
    }

    /**** HEADER ****/

    .top-navigation ul li a {
        color: $lightmode_default_font_color;

        &:hover {
            color: $lightmode_accent;
        }
    }

    /*** Blog navigation ***/

    .custom-logo-link img {
        filter: invert(1);
    }

    .row--header-top {
        border-color: $lightmode_blog_navi_border;
    }

    /*** Preferences navigation ***/

    .preferences-navi ul li,
    .preferences-navi ul li a,
    .preferences-navi ul li button {
        color: $lightmode_default_font_color;
    }

    .preferences-navi ul li a:hover {
        color: $lightmode_accent;
    }

    .preferences-navi__visual li,
    .preferences-navi__font li {
        &:hover,
        &:hover button {
            color: $lightmode_accent;
        }
    }

    .preferences-navi__font li span,
    .preferences-navi__font li button,
    .preferences-navi__languages li:not(:last-of-type):after,
    .preferences-navi__visual li:not(:last-of-type):after {
        color: $lightmode_default_font_color;
    }

	.preferences-navi__social-media svg path {
		fill: $lightmode_default_font_color;
	}
    
	.preferences-navi__social-media a:hover svg path {
		fill: $lightmode_accent;
	}

    /**** FOOTER ****/

    .footer__bottom-grid--top-border {
        border-color: $lightmode_default_code_border;
    }

    .footer__share-on ul li button {
        & svg path {
            fill: $lightmode_default_font_color !important;
        }
        &:hover svg path {
            fill: $lightmode_accent !important;
        }
    }

    .footer__go-up {
        svg {
            stroke: $lightmode_default_font_color;
        }
        &:hover svg {
            stroke: $lightmode_accent;
        }
    }

    .footer__privacy-policy {
        color: $lightmode_default_font_color;

        &:hover {
            color: $lightmode_accent;
        }
    }

    /** Home only **/

    .bottom-nav-home nav ul li a {
        color: $lightmode_default_font_color;

        &:hover {
            color: $lightmode_accent
        }
    }

    /**** T01: HOME ****/

    /*** About me ***/

    /** Accordions and Details element **/

    summary:hover {
        color: $lightmode_accent
    }

    .whoiam__col-text details a,
    .whoiam__projects-list details a {
        color: $lightmode_accent;

        &:hover {
            color: $lightmode_default_font_color
        }
    }

    /**** T02: Default blogpost styling ****/

    &.single article p {
        color: $lightmode_default_font_color;
    }

    &.single article a {
        color: $lightmode_accent;

        &:hover {
            color: $lightmode_default_font_color;
        }
    }

    .post__txt--green {color: $lightmode_green_text}
    .post__txt--red{color:$lightmode_red_text}

    .post__hr {
        background-color: $lightmode_default_font_color;
    }

    &.single article details {
        border: 1px solid $lightmode_default_code_border;
        background: $lightmode_post_details_acc_bg;
    }

    &.single article details summary {
        color: $lightmode_accent;

        &:hover {
            color: $lightmode_default_font_color;
        }
    }

    .lightmode-invert,
    &.single article ul.checkmark-list li:before,
    .yellow-header-checkmark:before {
        filter: invert(1);
    }

    .starred-header:before, 
    .lbulbed-header:before, 
    .danger-header:before {
        filter: brightness(0);
    }

    .plus-list li:before {
        background: url(../../assets/svg/plus-lightm.svg) no-repeat center; background-size: contain;
    }

    .minus-list li:before {
        background: url(../../assets/svg/minus-lightm.svg) no-repeat center; background-size: contain;
    }

    .plugins-list__single:after, 
    .dlist__single:after,
    .post__hr.post__hr--dashed {
        background-image: linear-gradient(to right, $lightmode_default_font_color 33%, rgba(255,255,255,0.0001) 0%);
    }

    /* Example block */

    .example-block {
        background: $lightmode_background;
        border: 1px solid $darkmode_background;
    }

    /**** T03: Prism overrides for light mode ****/

    .token.important, 
    .token.regex, 
    .token.variable {
        color: $lightmode_accent;
    }

    &.single article p > code {
        text-shadow: none !important;
    }

    &.single article p > code .language-css .token.string, 
    &.single article p > code .style .token.string, 
    &.single article p > code .token.entity, .token.operator, 
    &.single article p > code .token.url {
        background: transparent;
    }

}