@use '../abstracts/variables' as *;

/***** Light mode *****/

.lightmode {

    .site {
        color: $lightmode_default_font_color;
    }

    /**** HEADER ****/

    .top-navigation ul li a {
        color: $lightmode_default_font_color;

        &:hover {
            color: $lightmode_accent;
        }
    }

    /*** Preferences navigation ***/

    .preferences-navi ul li,
    .preferences-navi ul li a,
    .preferences-navi ul li button {
        color: $lightmode_default_font_color;
    }

    .preferences-navi ul li a:hover {
        color: $lightmode_accent;
    }

    .preferences-navi__visual li,
    .preferences-navi__font li {
        &:hover,
        &:hover button {
            color: $lightmode_accent;
        }
    }

    .preferences-navi__font li span,
    .preferences-navi__font li button,
    .preferences-navi__languages li:not(:last-of-type):after,
    .preferences-navi__visual li:not(:last-of-type):after {
        color: $lightmode_default_font_color;
    }

    /**** FOOTER ****/

    .footer__privacy-policy {
        color: $lightmode_default_font_color;

        &:hover {
            color: $lightmode_accent;
        }
    }

    /** Home only **/

    .bottom-nav-home nav ul li a {
        color: $lightmode_default_font_color;

        &:hover {
            color: $lightmode_accent
        }
    }

    /**** T01: HOME ****/

    /** Accordions and Details element **/

    summary:hover {
        color: $lightmode_accent
    }

    .whoiam__col-text details a,
    .whoiam__projects-list details a {
        color: $lightmode_accent;

        &:hover {
            color: $lightmode_default_font_color
        }
    }

    /**** T02: Default blogpost styling ****/

    &.single article p {
        color: $lightmode_default_font_color;
    }

    &.single article a {
        color: $lightmode_accent;

        &:hover {
            color: $lightmode_default_font_color;
        }
    }

    .post__txt--green {color: $lightmode_green_text}
    .post__txt--red{color:$lightmode_red_text}

    &.single article details summary {
        color: $lightmode_accent;

        &:hover {
            color: $lightmode_default_font_color;
        }
    }

    /**** T03: Prism overrides for light mode ****/

    .token.important, 
    .token.regex, 
    .token.variable {
        color: $lightmode_accent;
    }

    &.single article p > code {
        text-shadow: none !important;
    }

    /**** T06: Styling of Blog & categories ****/

    .categories-list li a {
        color: $lightmode_accent;

        &:hover {
            color: $lightmode_default_font_color;
        }
    }

    .post-block__href,
    .post-block__href * {
        color: $lightmode_default_font_color;
    }

    .post-block__href {

        &:hover .post-block__title {
            color: $lightmode_accent;
        }

    }


}