*, ::before, ::after {
  box-sizing: border-box;
}

:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* raw value as in number without any additions like px/rem/em etc. */
/** Global variables **/
/* Raw number value */
/** Colour variables **/
/** Breakpoints **/
/** Font sizes - variables **/
/** Font variables **/
/*** Utilities ***/
/* Normalization custom fixes */
html, body {
  max-width: 100%;
  line-height: normal; /*overflow-x:hidden*/
}

a:visited {
  color: inherit;
}

address {
  font-style: normal;
}

blockquote {
  margin: 0;
}

p:first-of-type {
  margin-top: 0;
}

p:last-of-type {
  margin-bottom: 0;
}

html {
  -webkit-text-size-adjust: 100%;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

/* Normalization for body element on WordPress */
body {
  margin: 0;
  position: relative;
}

/* Fix for flickering and other potential problems on interactive elements for webkit browsers, mostly Chrome */
a {
  text-decoration: none;
  backface-visibility: hidden !important;
  transform: translate3D(0, 0, 0);
  -webkit-transform: translate3D(0, 0, 0);
}

a:focus:not(:focus-visible) {
  outline: none !important;
}

/* Helper classes */
.fullwidth {
  width: 100%;
}

@media (max-width: 767px) {
  .text--mobile-center {
    text-align: center;
  }
  .block--mobile-fullwidth {
    width: 100%;
  }
}
@media (768px <= width <= 1024px) and (orientation: portrait) {
  .text--tablet-center {
    text-align: center;
  }
  .block--tablet-fullwidth {
    width: 100%;
  }
}
/* Flex helpers */
.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}

.row--justify-start {
  justify-content: flex-start;
}

.row--justify-end {
  justify-content: flex-end;
}

.row--justify-center {
  justify-content: center;
}

.row--justify-between {
  justify-content: space-between;
}

.row--align-stretch {
  align-items: stretch;
}

.row--align-middle {
  align-items: center;
}

.row--align-bottom {
  align-items: flex-end;
}

.row--columnize {
  flex-direction: column;
}

.row--wrap {
  flex-wrap: wrap;
}

.row--dir-reverse {
  flex-direction: row-reverse;
}

.row--col-reverse {
  flex-direction: column-reverse;
}

@media (max-width: 767px) {
  .row--mobile-col {
    flex-direction: column;
  }
  .row--mobile-col-reverse {
    flex-direction: column-reverse;
  }
  .row--mobile-align-middle {
    align-items: center;
  }
}
@media (768px <= width <= 1024px) and (orientation: portrait) {
  .row--tablet-col {
    flex-direction: column;
  }
  .row--talet-col-reverse {
    flex-direction: column-reverse;
  }
  .row--tablet-align-middle {
    align-items: center;
  }
}
/* Helpers - hidden elements per device */
.hidden {
  display: none !important;
}

@media (min-width: 1025px) and (orientation: landscape) {
  .hidden--desktop {
    display: none !important;
  }
}
@media (768px <= width <= 1024px) {
  .hidden--tablet {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden--mobile {
    display: none !important;
  }
}
/* Container fit for embeds and images */
embed, iframe, object {
  max-width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

/* Form normalization fixes */
[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
       appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/** Accessibility **/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

#primary[tabindex="-1"]:focus {
  outline: 0;
}

/* Transition */
/** Font sizes - variables **/
/** Font face include **/
/* Text highlight styling */
/*::target-text {
  background-color: #000;
  color: #fff;
}*/
@media (prefers-reduced-motion: no-preference) {
  * {
    transition: all 0.35s ease-in-out;
    scroll-behavior: smooth;
  }
}
body {
  background-color: #151515;
}

body.lightmode {
  background-color: #ddd;
}

@media (max-width: 1024px) {
  html, body, .site {
    max-width: 100%;
  }
}
/** Containers **/
.container {
  position: relative;
  margin: 0 auto;
  container-type: inline-size;
  container-name: wrap;
  width: 100%;
  max-width: min(100% - 60px, 1200px);
}

.container--small {
  max-width: min(100% - 60px, 360px);
}

.container--mid {
  max-width: min(100% - 60px, 720px);
}

/* Container change for large & extra large font accessibility */
@font-face {
  font-family: "Kanit";
  src: local("Kanit-Light"), local("Kanit-Light"), url("../../assets/fonts/subset-Kanit-Light.woff2") format("woff2"), url("../../assets/fonts/subset-Kanit-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* @include font-face(
  'Kanit',
  'Kanit-Regular',
  'Kanit-Regular',
  'Kanit-Regular',
  400,
  normal
);

@include font-face(
  'Kanit',
  'Kanit-Italic',
  'Kanit-Italic',
  'Kanit-Italic',
  400,
  italic
); */
@font-face {
  font-family: "Kanit";
  src: local("Kanit-LightItalic"), local("Kanit-LightItalic"), url("../../assets/fonts/subset-Kanit-LightItalic.woff2") format("woff2"), url("../../assets/fonts/subset-Kanit-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Kanit";
  src: local("Kanit-Medium"), local("Kanit-Medium"), url("../../assets/fonts/subset-Kanit-Medium.woff2") format("woff2"), url("../../assets/fonts/subset-Kanit-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit";
  src: local("Kanit-MediumItalic"), local("Kanit-MediumItalic"), url("../../assets/fonts/subset-Kanit-MediumItalic.woff2") format("woff2"), url("../../assets/fonts/subset-Kanit-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Kanit";
  src: local("Kanit-Bold"), local("Kanit-Bold"), url("../../assets/fonts/subset-Kanit-Bold.woff2") format("woff2"), url("../../assets/fonts/subset-Kanit-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit";
  src: local("Kanit-BoldItalic"), local("Kanit-BoldItalic"), url("../../assets/fonts/subset-Kanit-BoldItalic.woff2") format("woff2"), url("../../assets/fonts/subset-Kanit-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  src: local("TitilliumWeb-SemiBold"), local("TitilliumWeb-SemiBold"), url("../../assets/fonts/subset-TitilliumWeb-SemiBold.woff2") format("woff2"), url("../../assets/fonts/subset-TitilliumWeb-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  src: local("TitilliumWeb-SemiBoldItalic"), local("TitilliumWeb-SemiBoldItalic"), url("../../assets/fonts/subset-TitilliumWeb-SemiBoldItalic.woff2") format("woff2"), url("../../assets/fonts/subset-TitilliumWeb-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
/** Globally used font **/
body {
  font-family: "Kanit";
  line-height: normal;
  font-weight: 300;
  color: #ddd;
}

/** Elements **/
h1 {
  font-family: "Titillium Web";
  font-weight: 600;
}

h2 {
  font-family: "Titillium Web";
  font-weight: 600;
}

h3 {
  font-family: "Titillium Web";
  font-weight: 600;
}

h4 {
  font-family: "Titillium Web";
  font-weight: 600;
}

h5 {
  font-family: "Titillium Web";
  font-weight: 600;
}

h6 {
  font-family: "Titillium Web";
  font-weight: 600;
}

abbr[title] {
  text-underline-offset: 3px;
  text-decoration-color: rgba(255, 255, 255, 0.5);
  text-decoration-thickness: 1px;
  text-decoration-style: dashed;
}

/**** HEADER ****/
/*** Preferences navigation ***/
.preferences-navi ul li,
.preferences-navi ul li a,
.preferences-navi ul li button {
  font-size: clamp(0.813rem, 0.813rem + (100cqi - 320px) * 0 / (1200 - 320), 0.813rem);
  text-transform: uppercase;
  color: #ddd;
  font-family: "Titillium Web";
  letter-spacing: 0.5px;
}

.preferences-navi ul li a:hover {
  color: #f7961d;
}

.preferences-navi ul li.current a,
.preferences-navi__visual li[data-current-visual-mode="1"] span,
.preferences-navi__visual li[data-current-visual-mode="1"] button {
  text-decoration: underline;
}

.preferences-navi__visual li,
.preferences-navi__font li {
  cursor: pointer;
}
.preferences-navi__visual li:hover, .preferences-navi__visual li:hover button,
.preferences-navi__font li:hover,
.preferences-navi__font li:hover button {
  color: #f7961d;
}
.preferences-navi__visual li::target-text,
.preferences-navi__font li::target-text {
  background: transparent;
}

.preferences-navi__font li span,
.preferences-navi ul li button {
  color: #ddd;
}

.preferences-navi ul li button {
  text-transform: uppercase;
}

.preferences-navi__languages li:not(:last-of-type):after,
.preferences-navi__visual li:not(:last-of-type):after {
  color: #ddd;
}

.a-font-large .preferences-navi ul li,
.a-font-large .preferences-navi ul li a,
.a-font-large .preferences-navi ul li button {
  font-size: calc(clamp(0.813rem, 0.813rem + (100cqi - 320px) * 0 / (1200 - 320), 0.813rem) * 1.25);
}

.a-font-xlarge .preferences-navi ul li,
.a-font-xlarge .preferences-navi ul li a,
.a-font-xlarge .preferences-navi ul li button {
  font-size: calc(clamp(0.813rem, 0.813rem + (100cqi - 320px) * 0 / (1200 - 320), 0.813rem) * 1.5);
}

/** Main menu **/
.top-navigation ul li a {
  font-family: "Titillium Web";
  font-weight: 600;
  color: #ddd;
  font-size: clamp(1.375rem, 1.375rem + (100cqi - 320px) * 0.8 / (1200 - 320), 1.425rem);
}
.top-navigation ul li a:hover {
  color: #f7961d;
}

/* Blog categories */
.categories-list li a {
  font-size: clamp(1.275rem, 1.275rem + (100cqi - 320px) * 0.8 / (1200 - 320), 1.325rem);
  color: #f7961d;
}
.categories-list li a:hover {
  color: #ddd;
}

/*** FOOTER ***/
/** Home only **/
.bottom-nav-home nav ul li a {
  font-family: "Titillium Web";
  font-size: clamp(1.563rem, 1.563rem + (100cqi - 320px) * 2.192 / (1200 - 320), 1.7rem);
  color: #ddd;
  font-weight: 600;
}
.bottom-nav-home nav ul li a:hover {
  color: #f7961d;
}

/**** T01: HOME ****/
body.home p {
  font-size: clamp(0.938rem, 0.938rem + (100cqi - 320px) * 2 / (1200 - 320), 1.063rem);
  line-height: 1.188rem;
}

/*** Intro ***/
.claim__intro {
  text-align: center;
}

.claim__intro h1 {
  font-size: clamp(1.375rem, 1.375rem + (100cqi - 320px) * 0.8 / (1200 - 320), 1.425rem);
}

.claim .simple-btn {
  font-size: clamp(1.125rem, 1.125rem + (100cqi - 320px) * 1.6 / (1200 - 320), 1.225rem);
}

/*** About me ***/
.whoiam__projects-header,
.whoiam__aboutme-header {
  font-size: clamp(1.125rem, 1.125rem + (100cqi - 320px) * 1.6 / (1200 - 320), 1.225rem);
}

.whoiam__aboutme .whoiam__aboutme-header {
  margin-bottom: 0.75em;
}

.whoiam__hobby .whoiam__aboutme-header,
.whoiam__projects-list .accordion__intro {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}
.whoiam__hobby .whoiam__aboutme-header:hover,
.whoiam__projects-list .accordion__intro:hover {
  color: #fff;
}

/** Accordions and Details element **/
.accordion--moreinfo a {
  color: #f7961d;
}
.accordion--moreinfo a:hover {
  color: #fff;
}

.whoiam__col-text details summary {
  font-size: clamp(1.125rem, 1.125rem + (100cqi - 320px) * 1.6 / (1200 - 320), 1.225rem);
  font-family: "Titillium Web";
  font-weight: 600;
}

summary {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}
summary:hover {
  color: #fff;
}

.whoiam__projects-list details a {
  font-size: clamp(0.938rem, 0.938rem + (100cqi - 320px) * 2 / (1200 - 320), 1.063rem);
  line-height: 1.188rem;
  color: #f7961d;
}
.whoiam__projects-list details a:hover {
  color: #fff;
}

.whoiam__col-text details a {
  color: #f7961d;
}
.whoiam__col-text details a:hover {
  color: #fff;
}

.whoiam__projects-list details summary {
  margin-left: auto;
}

/**** T02: BLOGPOST ****/
.single .page-title {
  text-align: right;
}

.single article aside small {
  display: block;
}

/**** T02: Default blogpost and default page template styling ****/
.single article,
.page-template-default article {
  container-type: inline-size;
}

.single article strong,
.page-template-default article strong {
  font-weight: 500;
}

.single article p,
.single article ul:not(.list-reset) li,
.single article ol:not(.list-reset) li,
.page-template-default article p,
.page-template-default article ul:not(.list-reset) li,
.page-template-default article ol:not(.list-reset) li {
  font-size: clamp(1.125rem, 1.125rem + (100cqi - 320px) * 1.6 / (1200 - 320), 1.225rem);
  line-height: normal;
  font-weight: 300;
}

.single article aside,
.page-template-default article aside {
  font-size: clamp(1.125rem, 1.125rem + (100cqi - 320px) * 1.6 / (1200 - 320), 1.225rem);
  line-height: normal;
  font-weight: 300;
}

.single article a {
  color: #f7961d;
}
.single article a:hover {
  color: #ddd;
}

.page-template-default article a {
  color: #f7961d;
}
.page-template-default article a:hover {
  color: #ddd;
}

.post__txt--green {
  color: #95e68b;
}

.post__txt--red {
  color: #ff9090;
}

.post__txt--bold-header {
  font-weight: 500;
}

.post__txt--underline {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.single article details summary,
.page-template-default article details summary {
  font-size: clamp(1.125rem, 1.125rem + (100cqi - 320px) * 1.6 / (1200 - 320), 1.225rem);
  line-height: normal;
  color: #f7961d;
  text-decoration-thickness: 1px;
}
.single article details summary:hover,
.page-template-default article details summary:hover {
  color: #ddd;
}

.single article h2,
.page-template-default article h2 {
  font-size: clamp(1.563rem, 1.563rem + (100cqi - 320px) * 2.192 / (1200 - 320), 1.7rem);
}

.single article h3,
.page-template-default article h3 {
  font-size: clamp(1.563rem, 1.563rem + (100cqi - 320px) * 2.192 / (1200 - 320), 1.7rem);
}

.single article h4,
.page-template-default article h4 {
  font-size: clamp(1.35rem, 1.35rem + (100cqi - 320px) * 2.4 / (1200 - 320), 1.5rem);
}

.single article h5,
.page-template-default article h5 {
  font-size: clamp(1.35rem, 1.35rem + (100cqi - 320px) * 2.4 / (1200 - 320), 1.5rem);
}

/* Starred header */
.starred-header,
.lbulbed-header,
.danger-header {
  font-size: clamp(1.35rem, 1.35rem + (100cqi - 320px) * 2.4 / (1200 - 320), 1.5rem);
  font-weight: 600;
  font-family: "Titillium Web";
}

/***** Accessibility *****/
.a-font-large .container--small {
  max-width: calc(min(100% - 60px, 360px) * 1.25);
}
.a-font-large .container--mid {
  max-width: calc(min(100% - 60px, 720px) * 1.25);
}
.a-font-large .preferences-navi__social-media svg {
  width: calc(20px * 1.25);
  height: calc(20px * 1.25);
}
.a-font-large pre[class*=language-],
.a-font-large pre[class*=language-] * {
  font-size: calc(1rem * 1.25);
}
.a-font-large {
  /*** HEADER ***/
}
.a-font-large .preferences-navi ul li,
.a-font-large .preferences-navi ul li a,
.a-font-large .preferences-navi ul li button {
  font-size: calc(clamp(0.813rem, 0.813rem + (100cqi - 320px) * 0 / (1200 - 320), 0.813rem) * 1.25);
}
.a-font-large {
  /*** FOOTER ***/
}
.a-font-large .footer__share-on span,
.a-font-large .footer__copyright,
.a-font-large .footer__update-time,
.a-font-large .footer__privacy-policy {
  font-size: calc(clamp(0.938rem, 0.938rem + (100cqi - 320px) * 2 / (1200 - 320), 1.063rem) * 1.25);
}
.a-font-large .footer__share-on ul li button {
  height: calc(1.3em * 1.25);
  width: calc(1.55em * 1.25);
}
.a-font-large .footer__go-up svg {
  transform: scale(1.25);
}
.a-font-large {
  /** Home only **/
}
.a-font-large .bottom-nav-home nav ul li a {
  font-size: calc(clamp(1.563rem, 1.563rem + (100cqi - 320px) * 2.192 / (1200 - 320), 1.7rem) * 1.25);
}
.a-font-large {
  /*** T01: HOME ***/
}
.a-font-large.page-template-template-home p {
  font-size: calc(clamp(0.938rem, 0.938rem + (100cqi - 320px) * 2 / (1200 - 320), 1.063rem) * 1.25);
  line-height: calc(1.188rem * 1.25);
}
.a-font-large {
  /** Intro **/
}
.a-font-large .claim__intro h1 {
  font-size: calc(clamp(1.375rem, 1.375rem + (100cqi - 320px) * 0.8 / (1200 - 320), 1.425rem) * 1.25);
}
.a-font-large .claim .simple-btn {
  font-size: calc(clamp(1.125rem, 1.125rem + (100cqi - 320px) * 1.6 / (1200 - 320), 1.225rem) * 1.25);
}
.a-font-large {
  /** About me **/
}
.a-font-large .whoiam__projects-header,
.a-font-large .whoiam__aboutme-header {
  font-size: calc(clamp(1.125rem, 1.125rem + (100cqi - 320px) * 1.6 / (1200 - 320), 1.225rem) * 1.25);
}
.a-font-large .whoiam > .simple-btn {
  font-size: calc(clamp(0.938rem, 0.938rem + (100cqi - 320px) * 2 / (1200 - 320), 1.063rem) * 1.25);
  line-height: calc(1.188rem * 1.25);
}
.a-font-large {
  /* Accordions and Details element */
}
.a-font-large .whoiam__col-text details summary {
  font-size: calc(clamp(1.125rem, 1.125rem + (100cqi - 320px) * 1.6 / (1200 - 320), 1.225rem) * 1.25);
}
.a-font-large summary {
  font-size: calc(clamp(0.938rem, 0.938rem + (100cqi - 320px) * 2 / (1200 - 320), 1.063rem) * 1.25);
  line-height: calc(1.188rem * 1.25);
}
.a-font-large .whoiam__projects-list details a {
  font-size: calc(clamp(0.938rem, 0.938rem + (100cqi - 320px) * 2 / (1200 - 320), 1.063rem) * 1.25);
  line-height: calc(1.188rem * 1.25);
}
.a-font-large details {
  padding-block: calc(0.25em * 1.25);
}
.a-font-large {
  /**** T02: Default blogpost styling ****/
}
.a-font-large.single article p, .a-font-large.single article aside, .a-font-large.single article details summary, .a-font-large.single article ul:not(.list-reset) li, .a-font-large.single article ol:not(.list-reset) li {
  font-size: calc(clamp(1.125rem, 1.125rem + (100cqi - 320px) * 1.6 / (1200 - 320), 1.225rem) * 1.25);
}
.a-font-large.single article h1 {
  font-size: calc(clamp(1.563rem, 1.563rem + (100cqi - 320px) * 2.192 / (1200 - 320), 1.7rem) * 1.25);
}
.a-font-large.single article h2 {
  font-size: calc(clamp(1.563rem, 1.563rem + (100cqi - 320px) * 2.192 / (1200 - 320), 1.7rem) * 1.25);
}
.a-font-large.single article h3 {
  font-size: calc(clamp(1.563rem, 1.563rem + (100cqi - 320px) * 2.192 / (1200 - 320), 1.7rem) * 1.25);
}
.a-font-large.single article h4 {
  font-size: calc(clamp(1.35rem, 1.35rem + (100cqi - 320px) * 2.4 / (1200 - 320), 1.5rem) * 1.25);
}
.a-font-large.single article h5 {
  font-size: calc(clamp(1.35rem, 1.35rem + (100cqi - 320px) * 2.4 / (1200 - 320), 1.5rem) * 1.25);
}
.a-font-large .starred-header,
.a-font-large .lbulbed-header,
.a-font-large .danger-header {
  font-size: calc(clamp(1.35rem, 1.35rem + (100cqi - 320px) * 2.4 / (1200 - 320), 1.5rem) * 1.25);
  line-height: calc(1.2 * 1.25);
}
.a-font-large.single article .page-title {
  font-size: calc(clamp(1.563rem, 1.563rem + (100cqi - 320px) * 2.192 / (1200 - 320), 1.7rem) * 1.25);
}
.a-font-large .yellow-header-checkmark:before {
  width: calc(23px * 1.25);
  height: calc(23px * 1.25);
}
.a-font-large {
  /**** T03: Blogpost with plugins list styling ****/
}
.a-font-large .example-block {
  width: calc(50% * 1.25);
}
.a-font-large .example-block__title {
  font-size: calc(clamp(1.563rem, 1.563rem + (100cqi - 320px) * 2.192 / (1200 - 320), 1.7rem) * 1.25);
}
.a-font-large.single article small {
  font-size: calc(clamp(0.938rem, 0.938rem + (100cqi - 320px) * 2 / (1200 - 320), 1.063rem) * 1.25);
}

.a-font-xlarge .container--small {
  max-width: calc(min(100% - 60px, 360px) * 1.5);
}
.a-font-xlarge .container--mid {
  max-width: calc(min(100% - 60px, 720px) * 1.5);
}
.a-font-xlarge .preferences-navi__social-media svg {
  width: calc(20px * 1.5);
  height: calc(20px * 1.5);
}
.a-font-xlarge pre[class*=language-],
.a-font-xlarge pre[class*=language-] * {
  font-size: calc(1rem * 1.5);
}
.a-font-xlarge {
  /*** HEADER ***/
}
.a-font-xlarge .preferences-navi ul li,
.a-font-xlarge .preferences-navi ul li a,
.a-font-xlarge .preferences-navi ul li button {
  font-size: calc(clamp(0.813rem, 0.813rem + (100cqi - 320px) * 0 / (1200 - 320), 0.813rem) * 1.5);
}
.a-font-xlarge {
  /*** FOOTER ***/
}
.a-font-xlarge .footer__share-on span,
.a-font-xlarge .footer__copyright,
.a-font-xlarge .footer__update-time,
.a-font-xlarge .footer__privacy-policy {
  font-size: calc(clamp(0.938rem, 0.938rem + (100cqi - 320px) * 2 / (1200 - 320), 1.063rem) * 1.5);
}
.a-font-xlarge .footer__share-on ul li button {
  height: calc(1.3em * 1.5);
  width: calc(1.55em * 1.5);
}
.a-font-xlarge .footer__go-up svg {
  transform: scale(1.5);
}
.a-font-xlarge {
  /** Home only **/
}
.a-font-xlarge .bottom-nav-home nav ul li a {
  font-size: calc(clamp(1.563rem, 1.563rem + (100cqi - 320px) * 2.192 / (1200 - 320), 1.7rem) * 1.5);
}
.a-font-xlarge {
  /*** T01: HOME ***/
}
.a-font-xlarge.page-template-template-home p {
  font-size: calc(clamp(0.938rem, 0.938rem + (100cqi - 320px) * 2 / (1200 - 320), 1.063rem) * 1.5);
  line-height: calc(1.188rem * 1.5);
}
.a-font-xlarge {
  /** Intro **/
}
.a-font-xlarge .claim__intro h1 {
  font-size: calc(clamp(1.375rem, 1.375rem + (100cqi - 320px) * 0.8 / (1200 - 320), 1.425rem) * 1.5);
}
.a-font-xlarge .claim .simple-btn {
  font-size: calc(clamp(1.125rem, 1.125rem + (100cqi - 320px) * 1.6 / (1200 - 320), 1.225rem) * 1.5);
}
.a-font-xlarge {
  /** About me **/
}
.a-font-xlarge .whoiam__projects-header,
.a-font-xlarge .whoiam__aboutme-header {
  font-size: calc(clamp(1.125rem, 1.125rem + (100cqi - 320px) * 1.6 / (1200 - 320), 1.225rem) * 1.5);
}
.a-font-xlarge .whoiam > .simple-btn {
  font-size: calc(clamp(0.938rem, 0.938rem + (100cqi - 320px) * 2 / (1200 - 320), 1.063rem) * 1.5);
  line-height: calc(1.188rem * 1.5);
}
.a-font-xlarge {
  /* Accordions and Details element */
}
.a-font-xlarge .whoiam__col-text details summary {
  font-size: calc(clamp(1.125rem, 1.125rem + (100cqi - 320px) * 1.6 / (1200 - 320), 1.225rem) * 1.5);
}
.a-font-xlarge summary {
  font-size: calc(clamp(0.938rem, 0.938rem + (100cqi - 320px) * 2 / (1200 - 320), 1.063rem) * 1.5);
  line-height: calc(1.188rem * 1.5);
}
.a-font-xlarge .whoiam__projects-list details a {
  font-size: calc(clamp(0.938rem, 0.938rem + (100cqi - 320px) * 2 / (1200 - 320), 1.063rem) * 1.5);
  line-height: calc(1.188rem * 1.5);
}
.a-font-xlarge details {
  padding-block: calc(0.25em * 1.5);
}
.a-font-xlarge {
  /**** T02: Default blogpost styling ****/
}
.a-font-xlarge.single article p, .a-font-xlarge.single article aside, .a-font-xlarge.single article details summary, .a-font-xlarge.single article ul:not(.list-reset) li, .a-font-xlarge.single article ol:not(.list-reset) li {
  font-size: calc(clamp(1.125rem, 1.125rem + (100cqi - 320px) * 1.6 / (1200 - 320), 1.225rem) * 1.5);
}
.a-font-xlarge.single article h1 {
  font-size: calc(clamp(1.563rem, 1.563rem + (100cqi - 320px) * 2.192 / (1200 - 320), 1.7rem) * 1.5);
}
.a-font-xlarge.single article h2 {
  font-size: calc(clamp(1.563rem, 1.563rem + (100cqi - 320px) * 2.192 / (1200 - 320), 1.7rem) * 1.5);
}
.a-font-xlarge.single article h3 {
  font-size: calc(clamp(1.563rem, 1.563rem + (100cqi - 320px) * 2.192 / (1200 - 320), 1.7rem) * 1.5);
}
.a-font-xlarge.single article h4 {
  font-size: calc(clamp(1.35rem, 1.35rem + (100cqi - 320px) * 2.4 / (1200 - 320), 1.5rem) * 1.5);
}
.a-font-xlarge.single article h5 {
  font-size: calc(clamp(1.35rem, 1.35rem + (100cqi - 320px) * 2.4 / (1200 - 320), 1.5rem) * 1.5);
}
.a-font-xlarge .starred-header,
.a-font-xlarge .lbulbed-header,
.a-font-xlarge .danger-header {
  font-size: calc(clamp(1.35rem, 1.35rem + (100cqi - 320px) * 2.4 / (1200 - 320), 1.5rem) * 1.5);
  line-height: calc(1.2 * 1.5);
}
.a-font-xlarge.single article .page-title {
  font-size: calc(clamp(1.563rem, 1.563rem + (100cqi - 320px) * 2.192 / (1200 - 320), 1.7rem) * 1.5);
}
.a-font-xlarge .yellow-header-checkmark:before {
  width: calc(23px * 1.5);
  height: calc(23px * 1.5);
}
.a-font-xlarge {
  /**** T03: Blogpost with plugins list styling ****/
}
.a-font-xlarge .example-block {
  width: calc(50% * 1.5);
}
.a-font-xlarge .example-block__title {
  font-size: calc(clamp(1.563rem, 1.563rem + (100cqi - 320px) * 2.192 / (1200 - 320), 1.7rem) * 1.5);
}
.a-font-xlarge.single article small {
  font-size: calc(clamp(0.938rem, 0.938rem + (100cqi - 320px) * 2 / (1200 - 320), 1.063rem) * 1.5);
}

.a-font-xxlarge .container--small {
  max-width: calc(min(100% - 60px, 360px) * 2);
}
.a-font-xxlarge .container--mid {
  max-width: calc(min(100% - 60px, 720px) * 2);
}
.a-font-xxlarge .preferences-navi__social-media svg {
  width: calc(20px * 2);
  height: calc(20px * 2);
}
.a-font-xxlarge pre[class*=language-],
.a-font-xxlarge pre[class*=language-] * {
  font-size: calc(1rem * 2);
}
.a-font-xxlarge {
  /*** HEADER ***/
}
.a-font-xxlarge .preferences-navi ul li,
.a-font-xxlarge .preferences-navi ul li a,
.a-font-xxlarge .preferences-navi ul li button {
  font-size: calc(clamp(0.813rem, 0.813rem + (100cqi - 320px) * 0 / (1200 - 320), 0.813rem) * 2);
}
.a-font-xxlarge {
  /*** FOOTER ***/
}
.a-font-xxlarge .footer__share-on span,
.a-font-xxlarge .footer__copyright,
.a-font-xxlarge .footer__update-time,
.a-font-xxlarge .footer__privacy-policy {
  font-size: calc(clamp(0.938rem, 0.938rem + (100cqi - 320px) * 2 / (1200 - 320), 1.063rem) * 2);
}
.a-font-xxlarge .footer__share-on ul li button {
  height: calc(1.3em * 2);
  width: calc(1.55em * 2);
}
.a-font-xxlarge .footer__go-up svg {
  transform: scale(2);
}
.a-font-xxlarge {
  /** Home only **/
}
.a-font-xxlarge .bottom-nav-home nav ul li a {
  font-size: calc(clamp(1.563rem, 1.563rem + (100cqi - 320px) * 2.192 / (1200 - 320), 1.7rem) * 2);
}
.a-font-xxlarge {
  /*** T01: HOME ***/
}
.a-font-xxlarge.page-template-template-home p {
  font-size: calc(clamp(0.938rem, 0.938rem + (100cqi - 320px) * 2 / (1200 - 320), 1.063rem) * 2);
  line-height: calc(1.188rem * 2);
}
.a-font-xxlarge {
  /** Intro **/
}
.a-font-xxlarge .claim__intro h1 {
  font-size: calc(clamp(1.375rem, 1.375rem + (100cqi - 320px) * 0.8 / (1200 - 320), 1.425rem) * 2);
}
.a-font-xxlarge .claim .simple-btn {
  font-size: calc(clamp(1.125rem, 1.125rem + (100cqi - 320px) * 1.6 / (1200 - 320), 1.225rem) * 2);
}
.a-font-xxlarge {
  /** About me **/
}
.a-font-xxlarge .whoiam__projects-header,
.a-font-xxlarge .whoiam__aboutme-header {
  font-size: calc(clamp(1.125rem, 1.125rem + (100cqi - 320px) * 1.6 / (1200 - 320), 1.225rem) * 2);
}
.a-font-xxlarge .whoiam > .simple-btn {
  font-size: calc(clamp(0.938rem, 0.938rem + (100cqi - 320px) * 2 / (1200 - 320), 1.063rem) * 2);
  line-height: calc(1.188rem * 2);
}
.a-font-xxlarge {
  /* Accordions and Details element */
}
.a-font-xxlarge .whoiam__col-text details summary {
  font-size: calc(clamp(1.125rem, 1.125rem + (100cqi - 320px) * 1.6 / (1200 - 320), 1.225rem) * 2);
}
.a-font-xxlarge summary {
  font-size: calc(clamp(0.938rem, 0.938rem + (100cqi - 320px) * 2 / (1200 - 320), 1.063rem) * 2);
  line-height: calc(1.188rem * 2);
}
.a-font-xxlarge .whoiam__projects-list details a {
  font-size: calc(clamp(0.938rem, 0.938rem + (100cqi - 320px) * 2 / (1200 - 320), 1.063rem) * 2);
  line-height: calc(1.188rem * 2);
}
.a-font-xxlarge details {
  padding-block: calc(0.25em * 2);
}
.a-font-xxlarge {
  /**** T02: Default blogpost styling ****/
}
.a-font-xxlarge.single article p, .a-font-xxlarge.single article aside, .a-font-xxlarge.single article details summary, .a-font-xxlarge.single article ul:not(.list-reset) li, .a-font-xxlarge.single article ol:not(.list-reset) li {
  font-size: calc(clamp(1.125rem, 1.125rem + (100cqi - 320px) * 1.6 / (1200 - 320), 1.225rem) * 2);
}
.a-font-xxlarge.single article h1 {
  font-size: calc(clamp(1.563rem, 1.563rem + (100cqi - 320px) * 2.192 / (1200 - 320), 1.7rem) * 2);
}
.a-font-xxlarge.single article h2 {
  font-size: calc(clamp(1.563rem, 1.563rem + (100cqi - 320px) * 2.192 / (1200 - 320), 1.7rem) * 2);
}
.a-font-xxlarge.single article h3 {
  font-size: calc(clamp(1.563rem, 1.563rem + (100cqi - 320px) * 2.192 / (1200 - 320), 1.7rem) * 2);
}
.a-font-xxlarge.single article h4 {
  font-size: calc(clamp(1.35rem, 1.35rem + (100cqi - 320px) * 2.4 / (1200 - 320), 1.5rem) * 2);
}
.a-font-xxlarge.single article h5 {
  font-size: calc(clamp(1.35rem, 1.35rem + (100cqi - 320px) * 2.4 / (1200 - 320), 1.5rem) * 2);
}
.a-font-xxlarge .starred-header,
.a-font-xxlarge .lbulbed-header,
.a-font-xxlarge .danger-header {
  font-size: calc(clamp(1.35rem, 1.35rem + (100cqi - 320px) * 2.4 / (1200 - 320), 1.5rem) * 2);
  line-height: calc(1.2 * 2);
}
.a-font-xxlarge.single article .page-title {
  font-size: calc(clamp(1.563rem, 1.563rem + (100cqi - 320px) * 2.192 / (1200 - 320), 1.7rem) * 2);
}
.a-font-xxlarge .yellow-header-checkmark:before {
  width: calc(23px * 2);
  height: calc(23px * 2);
}
.a-font-xxlarge {
  /**** T03: Blogpost with plugins list styling ****/
}
.a-font-xxlarge .example-block {
  width: calc(50% * 2);
}
.a-font-xxlarge .example-block__title {
  font-size: calc(clamp(1.563rem, 1.563rem + (100cqi - 320px) * 2.192 / (1200 - 320), 1.7rem) * 2);
}
.a-font-xxlarge.single article small {
  font-size: calc(clamp(0.938rem, 0.938rem + (100cqi - 320px) * 2 / (1200 - 320), 1.063rem) * 2);
}

/*** Extra large exclusive ***/
@media (1025px <= width <= 1440px) {
  .a-font-xxlarge .container--xxl-padded {
    padding: 0 30px;
  }
}
.a-font-xxlarge .container--xxl-keep-mid {
  max-width: calc(min(100% - 60px, 720px) * 1.4);
}

/***** Light mode *****/
.lightmode .site {
  color: #151515;
}
.lightmode {
  /**** HEADER ****/
}
.lightmode .top-navigation ul li a {
  color: #151515;
}
.lightmode .top-navigation ul li a:hover {
  color: #a70c0c;
}
.lightmode {
  /*** Blog navigation ***/
}
.lightmode .custom-logo-link img {
  filter: invert(1);
}
.lightmode .row--header-top {
  border-color: rgba(0, 0, 0, 0.3);
}
.lightmode {
  /*** Preferences navigation ***/
}
.lightmode .preferences-navi ul li,
.lightmode .preferences-navi ul li a,
.lightmode .preferences-navi ul li button {
  color: #151515;
}
.lightmode .preferences-navi ul li a:hover {
  color: #a70c0c;
}
.lightmode .preferences-navi__visual li:hover, .lightmode .preferences-navi__visual li:hover button,
.lightmode .preferences-navi__font li:hover,
.lightmode .preferences-navi__font li:hover button {
  color: #a70c0c;
}
.lightmode .preferences-navi__font li span,
.lightmode .preferences-navi__font li button,
.lightmode .preferences-navi__languages li:not(:last-of-type):after,
.lightmode .preferences-navi__visual li:not(:last-of-type):after {
  color: #151515;
}
.lightmode .preferences-navi__social-media svg path {
  fill: #151515;
}
.lightmode .preferences-navi__social-media a:hover svg path {
  fill: #a70c0c;
}
.lightmode {
  /**** FOOTER ****/
}
.lightmode .footer__bottom-grid--top-border {
  border-color: rgba(0, 0, 0, 0.2);
}
.lightmode .footer__share-on ul li button svg path {
  fill: #151515 !important;
}
.lightmode .footer__share-on ul li button:hover svg path {
  fill: #a70c0c !important;
}
.lightmode .footer__go-up svg {
  stroke: #151515;
}
.lightmode .footer__go-up:hover svg {
  stroke: #a70c0c;
}
.lightmode .footer__privacy-policy {
  color: #151515;
}
.lightmode .footer__privacy-policy:hover {
  color: #a70c0c;
}
.lightmode {
  /** Home only **/
}
.lightmode .bottom-nav-home nav ul li a {
  color: #151515;
}
.lightmode .bottom-nav-home nav ul li a:hover {
  color: #a70c0c;
}
.lightmode {
  /**** T01: HOME ****/
  /*** About me ***/
  /** Accordions and Details element **/
}
.lightmode summary:hover {
  color: #a70c0c;
}
.lightmode .whoiam__col-text details a,
.lightmode .whoiam__projects-list details a {
  color: #a70c0c;
}
.lightmode .whoiam__col-text details a:hover,
.lightmode .whoiam__projects-list details a:hover {
  color: #151515;
}
.lightmode {
  /**** T02: Default blogpost styling ****/
}
.lightmode.single article p {
  color: #151515;
}
.lightmode.single article a {
  color: #a70c0c;
}
.lightmode.single article a:hover {
  color: #151515;
}
.lightmode .post__txt--green {
  color: #2d5729;
}
.lightmode .post__txt--red {
  color: #8e3333;
}
.lightmode .post__hr {
  background-color: #151515;
}
.lightmode.single article details {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #d7d7d7;
}
.lightmode.single article details summary {
  color: #a70c0c;
}
.lightmode.single article details summary:hover {
  color: #151515;
}
.lightmode .lightmode-invert, .lightmode.single article ul.checkmark-list li:before,
.lightmode .yellow-header-checkmark:before {
  filter: invert(1);
}
.lightmode .starred-header:before,
.lightmode .lbulbed-header:before,
.lightmode .danger-header:before {
  filter: brightness(0);
}
.lightmode .plus-list li:before {
  background: url(../../assets/svg/plus-lightm.svg) no-repeat center;
  background-size: contain;
}
.lightmode .minus-list li:before {
  background: url(../../assets/svg/minus-lightm.svg) no-repeat center;
  background-size: contain;
}
.lightmode .plugins-list__single:after,
.lightmode .dlist__single:after,
.lightmode .post__hr.post__hr--dashed {
  background-image: linear-gradient(to right, #151515 33%, rgba(255, 255, 255, 0.0001) 0%);
}
.lightmode {
  /* Example block */
}
.lightmode .example-block {
  background: #ddd;
  border: 1px solid #151515;
}
.lightmode {
  /**** T03: Prism overrides for light mode ****/
}
.lightmode .token.important,
.lightmode .token.regex,
.lightmode .token.variable {
  color: #a70c0c;
}
.lightmode.single article p > code {
  text-shadow: none !important;
}
.lightmode.single article p > code .language-css .token.string, .lightmode.single article p > code .style .token.string, .lightmode.single article p > code .token.entity, .lightmode .token.operator, .lightmode.single article p > code .token.url {
  background: transparent;
}
.lightmode {
  /**** T05: Styling for 404 error page ****/
}
.lightmode .matrix--dark {
  opacity: 0 !important;
}
.lightmode .matrix--light {
  opacity: 1 !important;
}

/** Default buttons **/
.simple-btn {
  background-color: #151515;
  color: inherit;
  position: relative;
  z-index: 1;
  padding-block: 0.5em;
}
.simple-btn.simple-btn--bigger-font {
  font-size: x-large;
}
.simple-btn.simple-btn--transparent-bg {
  background: transparent;
}

.simple-btn:hover {
  color: #f7961d;
}

@scope (.lightmode) {
  .simple-btn {
    background-color: #ddd;
  }
  .simple-btn:hover {
    color: #a70c0c;
  }
}
/* @use 'components/accordions'; */
details {
  overflow: hidden;
  container-type: inline-size;
  padding-block: 0.25em;
}
details .details-content p:not(:last-of-type) {
  margin-bottom: 0.938rem;
}
details {
  /* > p:first-of-type {
    padding-top: .938rem
  } */
}
@media (prefers-reduced-motion: no-preference) {
  details::details-content {
    max-block-size: 0;
    transition: opacity 0.3s, max-block-size 0.35s linear, content-visibility 0.35s linear;
    transition-behavior: allow-discrete;
    overflow: hidden;
  }
  details[open]::details-content {
    max-block-size: var(--details-max-height, 75vh);
  }
}

summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
summary::-webkit-details-marker {
  display: none;
}

/*** Overrides for Prism JS ***/
pre[class*=language-] {
  border-radius: 2px !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
}

code.inline-code-block {
  border: 0 !important;
  border-radius: 0 !important;
  padding: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
}

.inline-code-block--margin-between {
  margin: 0 0.5em;
}

/**** Header ****/
/*** Preferences navigation ***/
.preferences-navi {
  position: fixed;
  left: 2vw;
  bottom: 2vw;
  z-index: 2;
}

@media (min-resolution: 1.1dppx), (max-width: 1599px) {
  .single .preferences-navi {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 0.5em;
  }
}
.preferences-navi ul {
  list-style: none;
  padding-left: 0;
  display: flex;
}

.preferences-navi ul:not(:last-of-type) {
  margin-bottom: 5px;
}

.preferences-navi__languages li:not(:last-of-type):after,
.preferences-navi__visual li:not(:last-of-type):after {
  content: "/";
  pointer-events: none;
}

.preferences-navi__visual li:not(:last-of-type):after {
  margin: 0 3px;
}

.preferences-navi__languages li:not(:last-of-type):after {
  margin: 0 3px 0 0;
}

.preferences-navi ul li button {
  padding: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
}

/** Social media **/
.preferences-navi__social-media li:not(:last-of-type) {
  margin-right: 5px;
}

.preferences-navi__social-media--margin-plus {
  padding-bottom: 2px;
}

.preferences-navi__social-media svg path {
  fill: #ddd;
}

.preferences-navi__social-media a:hover svg path {
  fill: #f7961d;
}

/** Font accessibility **/
.preferences-navi__font .scale:before {
  content: "[";
}

.preferences-navi__font .scale:after {
  content: "%]";
}

.preferences-navi__font .scale {
  opacity: 0;
  pointer-events: none;
  display: inline-flex;
}

.preferences-navi__font:hover .scale {
  opacity: 1;
}

@media (prefers-reduced-motion: no-preference) {
  .preferences-navi__font .scale {
    transform: translateX(-5px);
  }
  .preferences-navi__font:hover .scale {
    transform: translateX(0);
  }
}
/**** FOOTER ****/
footer.footer--on-blog {
  padding-block: 5em 5em;
}
footer.footer--on-error-page .footer__bottom-grid {
  margin-top: 0;
}

/*** Top row ***/
.footer__top-grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.footer__share-on {
  justify-self: start;
}

.footer__go-up {
  justify-self: center;
}

.footer__update-time {
  justify-self: end;
}

/** Sharing module **/
.footer__share-on {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer__share-on ul {
  list-style: none;
  padding: 0;
  margin-left: 0.6em;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer__share-on ul li {
  display: inline-flex;
}

.footer__share-on ul li {
  margin: 0 0.2em;
}

.footer__share-on ul li button {
  background: transparent;
  border: 0;
  padding: 0;
  height: 1.3em;
  width: 1.55em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.footer__share-on ul li button:hover svg path {
  fill: #f7961d !important;
}

.footer__share-on ul li button svg {
  height: 100%;
  width: auto;
}

.footer__share-on ul li button svg path {
  fill: #fff;
}

/* Go up */
.footer__go-up:hover svg {
  stroke: #f7961d;
}

/*** Bottom row ***/
.footer__bottom-grid--top-border {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 0.7em;
  margin-top: 0.7em;
}

.footer__privacy-policy {
  color: #ddd;
}
.footer__privacy-policy:hover {
  color: #f7961d;
}

/*** Blog navigation ***/
.row--header-top {
  padding-block: 75px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.row--header-bottom {
  padding-top: 15px;
}

/** Main menu **/
.top-navigation ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.top-navigation ul li:not(:last-of-type) {
  margin-right: 15px;
}

/* Blog categories */
.categories-list {
  list-style: none;
  display: flex;
  padding: 0;
}

.categories-list li:not(:last-of-type):after {
  content: "|";
  margin: 0 10px;
  pointer-events: none;
}

/* Logo */
.custom-logo-link {
  max-width: 160px;
  width: 100%;
}

.custom-logo-link img {
  opacity: 0.8;
}

/*** Sections ***/
/*** Claim ***/
.claim {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.claim__intro {
  margin-top: calc(20vh - 25px + 42px);
}

.claim__intro h1 {
  margin-bottom: 0.5em;
}

/* body.admin-bar .claim {
    min-height: calc(100vh - 32px);
} */
.claim .simple-btn {
  display: inline-flex;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  align-self: end;
}

.claim__learnmore {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .claim__learnmore:after {
    content: "";
    width: 1px;
    inset: auto 0 0 0;
    margin: 15px auto 0;
    height: calc(20vh - 25px);
    background-color: #ddd;
    display: block;
    position: relative;
    pointer-events: none;
  }
  @scope (.lightmode) {
    .claim__learnmore:after {
      background-color: #151515;
    }
  }
}
.claim .container--grid {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
  align-items: center;
}

/* body.admin-bar .claim .container--grid {
    min-height: calc(100vh - 32px);
} */
/*** Who i am ***/
.whoiam__col-half {
  width: calc(50% - 35px);
}

.whoiam {
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
  align-items: center;
}

@media (min-width: 768px) {
  .whoiam:after {
    content: "";
    width: 1px;
    inset: 0 0 0 0;
    margin: 0 auto;
    height: 100%;
    background-color: #ddd;
    display: block;
    position: absolute;
    pointer-events: none;
  }
  @scope (.lightmode) {
    .whoiam:after {
      background-color: #151515;
    }
  }
}
/** Left column **/
.whoiam__col-projects,
.whoiam__projects-list .accordion--moreinfo {
  text-align: right;
}

.whoiam__projects-list {
  list-style: none;
  padding: 0;
  margin-top: 0.938em;
}

.whoiam__projects-list li {
  padding-block: 0.25em;
}

.whoiam__projects-list .accordion__intro {
  margin-left: auto;
}

.project__description {
  padding-top: 0.938em;
}

/** Right column **/
.whoiam article,
.project__description {
  container-type: inline-size;
}

.whoiam__col-text article p:not(:last-of-type) {
  margin-bottom: 0.938em;
}

/* .whoiam__col-text article:last-of-type {
    margin-top: 2.5em
} */
.whoiam__aboutme {
  margin-bottom: 2.5em;
}

.whoiam__col-text details .details-content {
  padding-block: 1em;
}

/* Redirect button */
.whoiam .simple-btn {
  margin-block: 1.5em 8.5vh;
}

/*** Home-only bottom nav ***/
.bottom-nav-home {
  padding-block: 4em;
  position: relative;
}

@media (min-width: 768px) {
  .bottom-nav-home:after {
    content: "";
    width: 1px;
    inset: 0 0 0 0;
    margin: 0 auto;
    height: 100%;
    background-color: #ddd;
    display: block;
    position: absolute;
    pointer-events: none;
  }
  @scope (.lightmode) {
    .bottom-nav-home:after {
      background-color: #151515;
    }
  }
}
.bottom-nav-home nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5em;
}

/*** Sections ***/
/**** T02: Default blogpost and default page template styling ****/
.page-title {
  padding-block: 0 0.75em;
}

.single article > *:not(.post__hr),
.page-template-default article > *:not(.post__hr) {
  margin-block-start: 1em;
}

.post__hr {
  margin: 2.5em 0;
  opacity: 0.3;
  height: 1px;
  border: 0;
  background: #ddd;
}
.post__hr.post__hr--smaller-margin {
  margin: 1em 0;
}
.post__hr.post__hr--dashed {
  background: transparent;
  background-image: linear-gradient(to right, #ddd 33%, rgba(255, 255, 255, 0.0001) 0%);
  background-position: bottom;
  background-size: 6px 1px;
  background-repeat: repeat-x;
}

.single article details,
.page-template-default article details {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgb(37, 36, 36);
  padding: 10px 15px 10px 15px;
}

.single article details .details-content,
.page-template-default article details .details-content {
  padding-block: 0.5em 0;
}

.single article ul ul,
.page-template-default article ul ul {
  margin-block-end: 1.25em;
}

.post__txt--spaced-ol li:not(:last-of-type),
.post__txt--spaced-ul li:not(:last-of-type) {
  margin-block-end: 0.45em;
}

.post__txt--spaced-picture {
  margin-top: 0.3em;
}

.post-txt--contained-block {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}

.post-txt--block-margin-btm {
  margin-bottom: 0.3em;
}

/* Headers with ornaments */
.starred-header,
.lbulbed-header,
.danger-header {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.starred-header:before,
.lbulbed-header:before,
.danger-header:before {
  content: "";
  margin-right: 0.4em;
  display: inline-block;
  background-size: contain;
}

.starred-header:before {
  width: 1.3em;
  height: 1.2em;
  background: url(../../assets/svg/gold-star.svg) no-repeat center;
}

.lbulbed-header:before {
  width: 1.3em;
  height: 1.5em;
  background: url(../../assets/svg/light-bulb.svg) no-repeat center;
}

.danger-header:before {
  width: 1.1em;
  height: 1.1em;
  background: url(../../assets/svg/beware.svg) no-repeat center;
}

.yellow-header-checkmark {
  position: relative;
}

.yellow-header-checkmark:before {
  content: "";
  width: 23px;
  height: 23px;
  background: url(../../assets/svg/checkmark01.svg) no-repeat center;
  background-size: contain;
  display: inline-flex;
  position: relative;
  margin-right: 0.25em;
  vertical-align: middle;
}

/* Plus - minus list */
.plus-list,
.minus-list {
  list-style: none;
}

.plus-list li,
.minus-list li {
  position: relative;
}

.plus-list li:before,
.minus-list li:before {
  content: "";
  width: 0.6em;
  height: 0.6em;
  display: inline-block;
  position: absolute;
  left: -1.2em;
  top: 0.5em;
}

.plus-list li:before {
  background: url(../../assets/svg/plus.svg) no-repeat center;
  background-size: contain;
}

.minus-list li:before {
  background: url(../../assets/svg/minus.svg) no-repeat center;
  background-size: contain;
}

/* Checkmark list */
.single article ul.checkmark-list,
.page-template-default article ul.checkmark-list {
  list-style: none;
}

.single article ul.checkmark-list li,
.page-template-default article ul.checkmark-list li {
  margin-block-end: 0.75em;
  position: relative;
}

.single article ul.checkmark-list li p,
.page-template-default article ul.checkmark-list li p {
  margin-block-end: 0.75em;
}

.single article ul.checkmark-list li:before,
.page-template-default article ul.checkmark-list li:before {
  content: "";
  width: 1.25em;
  height: 1.188em;
  background: url(../../assets/svg/checkmark01.svg) no-repeat center;
  background-size: contain;
  display: inline-flex;
  position: absolute;
  left: -1.875em;
  top: 0.313em;
}

/* Grid helpers */
.single article .row p:not(:last-of-type), .page-template-default article .row p:not(:last-of-type) {
  margin-block-end: 1em;
}

.col-one-third {
  width: 32%;
}

.col-two-third {
  width: 65%;
}

.row-helper-col {
  width: calc(100% - 70px);
}

/**** T03: Blogpost with plugins list styling ****/
.post__txt--extra-margin {
  margin-top: 1em;
}

.single article .plugins-wrapper__outro *:not(.post__hr),
.single article .dlist__outro *:not(.post__hr) {
  margin-block-start: 1em;
}

.plugins-list--no-styling {
  list-style-type: none;
  padding: 2.5em 0 0 0;
}

.dlist--no-styling {
  list-style-type: none;
  padding: 1em 0 0 0;
}

.plugins-list__single:after,
.dlist__single:after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  margin: 2em 0 2.5em;
  background: transparent;
  background-image: linear-gradient(to right, #ddd 33%, rgba(255, 255, 255, 0.0001) 0%);
  background-position: bottom;
  background-size: 6px 1px;
  background-repeat: repeat-x;
  opacity: 0.5;
}

.dlist__single:after {
  margin-bottom: 1.5em;
}

.plugins-list__description p,
.dlist__description p,
.dlist-wrapper__outro p {
  margin-block-end: 1em;
}

.plugins-list__single picture,
.dlist__single picture {
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0.5em;
}

.dlist__single picture {
  margin-top: 1em;
}

.plugins-list__description,
.dlist__description {
  margin-top: 1em;
}

.plugins-list__description details,
.dlist__description details {
  margin-bottom: 1em;
}

/* Example block */
.example-block {
  background: #151515;
  padding: 1em;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  width: 50%;
  margin: 1em 0;
}

.example-block__title {
  font-size: clamp(1.563rem, 1.563rem + (100cqi - 320px) * 2.192 / (1200 - 320), 1.7rem);
  font-family: "Titillium Web";
  font-weight: 500;
}

/**** T04: Default page template styling ****/
.blog-title--to-right {
  margin-left: auto;
}

/**** T05: Styling for 404 error page ****/
canvas {
  display: block;
} /* Required for matrix canvas */
.error404 canvas {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.7;
}

.error404 .default-page-wrapper {
  position: relative;
}

.default-page-wrapper--marginoff {
  margin-top: -15px;
}

.error-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-block: 13em;
}

.error-wrap__addon {
  padding-block: 2em;
}

.matrix--dark {
  opacity: 1 !important;
}

.matrix--light {
  opacity: 0 !important;
}/*# sourceMappingURL=main.css.map */