@use '../abstracts/variables' as *;

/** Main menu **/

@media (max-width: $mobiletop_breakpoint) {
    .top-navigation {
        padding-top: 1em;
    }
}

.top-navigation ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.top-navigation ul li:not(:last-of-type) {
    margin-right: 15px;
}

/* Blog categories */

.categories-list {
    list-style: none;
    display: flex;
    padding: 0;

    @media (max-width: $mobiletop_breakpoint) {
        flex-direction: column;
        padding-top: 1em;
    }
}

@media (min-width: $tablet_bottom_breakpoint) {
    .categories-list li:not(:last-of-type):after {
        content: '|';
        margin: 0 10px;
        pointer-events: none;
    }
}

/*** Preferences navigation ***/

.preferences-navi {
	position: fixed;
	left: 2vw; bottom: 2vw;
	z-index: 2;

	@media (max-width: $mobiletop_breakpoint) {
		left: initial; bottom: initial; top: 1em; right: 1em;
		background: rgba(0, 0, 0, 0.2);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		padding: 0.5em;
	}

	@media ($tablet_bottom_breakpoint <= width <= $tablet_top_breakpoint) and (orientation:portrait){
		left: 1em; bottom: 1em;
		background: rgba(0, 0, 0, 0.2);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		padding: 0.5em;
	}

	/* &.preferences-navi--hidden {
		opacity: 0;
		pointer-events: none;
	} */
}

@media (min-resolution: 1.1dppx), (max-width: 1599px) {
	.single {
		.preferences-navi {
			background: rgba(0, 0, 0, 0.2);
			border-radius: 16px;
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
			backdrop-filter: blur(5px);
			-webkit-backdrop-filter: blur(5px);
			padding: 0.5em;
		}
	}
}

.preferences-navi ul {
	list-style: none;
	padding-left: 0;
	display: flex;
}

.preferences-navi ul:not(:last-of-type) {
    margin-bottom: 5px;

	@media (max-width: $tablet_top_breakpoint) {
		margin-bottom: 9px;
	}
}

.preferences-navi__languages li:not(:last-of-type):after,
.preferences-navi__visual li:not(:last-of-type):after {
    content: '/';
    pointer-events: none;
}

.preferences-navi__visual li:not(:last-of-type):after {
    margin: 0 3px;
}

.preferences-navi__languages li:not(:last-of-type):after {
	margin: 0 3px 0 0;
}

.preferences-navi ul li button {
	padding: 0;
	background: transparent;
	border: 0;
	cursor: pointer;
}

/* .preferences-navi__cookies a {
    cursor: pointer;
} */

/* Animation for hiding menu */

.pref-menu-toggle {
	border-radius: 0; border: 0;
	background: transparent;
	width: fit-content; height: fit-content;
	padding: 0;
	margin-left: auto; margin-bottom: -16px;
	display: block;
	z-index: 1;
	position: relative;
	cursor: pointer;
	border-radius: 100%;
	border: 1px solid $white;
	width: 1.25rem; height: 1.25rem;
}

.preferences-navi {

	&.preferences-navi--hidden {
		transform: translateX(-115px)
	}

	& .pref-menu-toggle:before {
		content: '';
		width: 8px; height: 5px;
		border-bottom: 1px solid transparent;
		border-top: 1px solid $white;
		display: block;
		position: absolute;
		margin: auto;
		inset: 0;
		transform: rotate(45deg) translateY(2px);
	}

	& .pref-menu-toggle:after {
		content: '';
		width: 8px; height: 1px;
		background: $white;
		display: block;
		position: absolute;
		margin: auto;
		inset: 0;
		transform: rotate(-45deg);
	}

	&.preferences-navi--hidden ul {
		opacity: 0;
		pointer-events: none;
	}

	&.preferences-navi--hidden .pref-menu-toggle {
		border-color: #fff;
		border-radius: 0 !important;
	}

	&.preferences-navi--hidden .pref-menu-toggle:before {
		transform: rotate(0) translateY(-2px);
		border-bottom: 1px solid #fff;
	}

	&.preferences-navi--hidden .pref-menu-toggle:after {
		transform: rotate(0) translateY(4px)
	}

	@media (max-width: $tablet_top_breakpoint) {
		&.preferences-navi--hidden {
			background: transparent;
        	box-shadow: 0 4px 30px transparent;
        	backdrop-filter: blur(0px);
        	-webkit-backdrop-filter: blur(0px);
		}
		.pref-menu-toggle {
			width: 1.75rem; height: 1.75rem;
		}
		& .pref-menu-toggle:before,
		& .pref-menu-toggle:after {
			width: 15px;
		}
	}

	@media (max-width: $mobiletop_breakpoint) {
		&.preferences-navi--hidden {
			transform: translateX(0px);
		}
		&.preferences-navi--hidden .pref-menu-toggle {
			background: $darkmode_background;
		}
		& .pref-menu-toggle:before,
		& .pref-menu-toggle:after {
			width: 12px;
		}
	}

}

/** Social media **/

.preferences-navi__social-media li:not(:last-of-type) {
	margin-right: 5px;

	@media (max-width: $tablet_top_breakpoint) {
		margin-right: 8px;
	}
}

.preferences-navi__social-media {
	@media (max-width: $tablet_top_breakpoint) {
		& a svg {
			width: 1.5em; height: 1.5em;
		}
	}
}

.preferences-navi__social-media--margin-plus {
	padding-bottom: 2px;
}

.preferences-navi__social-media svg path {
	fill: $darkmode_default_font_color;
}

.preferences-navi__social-media a:hover svg path {
    fill: $hover_accent;
}

/** Font accessibility **/

@media ($tablet_bottom_breakpoint <= width <= $tablet_top_breakpoint) and (orientation:portrait){
	.preferences-navi__font {
		display: none !important;
		pointer-events: none;
		visibility: hidden;
	}
}

.preferences-navi__font .scale:before {
	content: '\005B';
}

.preferences-navi__font .scale:after {
	content: '\0025 \005D';
}

.preferences-navi__font .scale {
	opacity: 0;
	pointer-events: none;
	display: inline-flex;
}

.preferences-navi__font:hover .scale {
	opacity: 1;
}

@media (prefers-reduced-motion: no-preference) {
	.preferences-navi__font .scale {
		transform: translateX(-5px);
	}

	.preferences-navi__font:hover .scale {
		transform: translateX(0);
	}
}